page-form {
	.wrapper {
		position: relative;
	    width: 100%;
	    height: 100%;
	    @media screen and (max-width: 52.5em) {
			font-size: 70%;
		}
	
		.title {
			position: absolute;
		    top: 0;
		    left: 0;
		    margin: 0;
		    padding: 40px;
		    width: 100%;

		    h1 {
		    	margin: 0;
		    	font-size: 2em;
		    }

		    @media screen and (max-width: 52.5em) {
				padding: 20px;
			}
		}

		.form-full {
			top: 32%;
		    margin: 0 auto;
		    width: 70%;
			max-width: 960px;
		}

		.form {
			position: relative;
		    text-align: left;
		    font-size: 2.5em;

		    margin: 0 auto;
		    padding: 0;
		    

		    form-control {
		    	position: absolute;
		    	width: 100%;
		    	z-index: 1;
		    	margin: 0;
		    	padding: 0 20px 0 0;
		    	border: none;

		    	label {
		    		display: inline-block;
		    		padding: 0 5px 1em 0;
		    		font-weight: 700;
		    		pointer-events: none;
		    	}

		    	@media screen and (max-width: 52.5em) {
					width: auto;
				}
		    }

		    input {
		    	display: block;
	    	    margin: 0;
	    	    padding: 0 0 0.15em;
	    	    width: 100%;
	    	    border: none;
	    	    border-bottom: 2px solid rgba(0,0,0,0.2);
	    	    background-color: transparent;
	    	    color: #fffed8;
	    	    text-overflow: ellipsis;
	    	    font-weight: bold;
	    	    font-size: 1.5em;
	    	    border-radius: 0;
		    }

		    [required] {
		    	background-image: url(../assets/img/abacusstar.svg);
		    	background-position: top right;
		    	background-size: 18px;
		    	background-repeat: no-repeat;
		    }

		    @media screen and (max-width: 52.5em) {
		    	top: 6em;
				right: 2em;
				left: 0;
				width: auto;
				padding: 0 3.75em 0 1em;
				font-size: 2em;
		    }
		}

		.form-back {
			&:before {
				content: "\e004";
			    margin: 0 4px;
			    text-transform: none;
			    font-weight: normal;
			    font-style: normal;
			    font-variant: normal;
			    font-family: 'codropsicons';
			    line-height: 1;
			    speak: none;
			    -webkit-font-smoothing: antialiased;
			}
		}

		.form-nav-dots {
			position: absolute;
		    top: 50%;
		    right: 60px;
		    left: auto;
		    -webkit-transform: translateY(-50%);
		    transform: translateY(-50%);

		    button {
		    	position: relative;
	    	    display: block;
	    	    padding: 0;
	    	    margin: 16px 0;
	    	    width: 16px;
	    	    height: 16px;
	    	    border-radius: 50%;
	    	    background: transparent;
	    	    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	    	    transition: transform 0.3s ease, opacity 0.3s ease;

	    	   	&:after {
	    	   		position: absolute;
    	   		    top: 0;
    	   		    left: 0;
    	   		    width: 100%;
    	   		    height: 100%;
    	   		    border-radius: 50%;
    	   		    background-color: rgba(0,0,0,0.5);
    	   		    content: '';
    	   		    text-indent: 0;
    	   		    -webkit-backface-visibility: hidden;
    	   		    backface-visibility: hidden;
	    	   	}

	    	   	&.form-dot-current {
	    	   		-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	    	   		transform: perspective(1000px) rotate3d(0,1,0,180deg);
	    	   		&:after {
	    	   			background: #fffed8;
	    	   		}
	    	   	}
		    }

		    @media screen and (max-width: 52.5em) {
		        right: 25px;
		    }
		}

		button.form-continue {
			position: absolute;
		    right: 0;
		    bottom: 0;
		    margin: 0 40px 60px 0;
		    font-size: 1.25em;
		    background: none;

		    &:hover {
				background: #232529;
				color: #fff;
			}

		    &:after {
		    	position: absolute;
		    	top: 100%;
		    	left: 0;
		    	width: 100%;
		    	line-height: 3;
		    	text-align: center;
		    	background: transparent;
		    	color: rgba(0,0,0,0.3);
		    	content: 'or press ENTER';
		    	font-size: 0.95em;
		    	pointer-events: none;
		    }

		    span {
		    	font-size: 1.65em;
		    	padding: 0.6em 1.5em
		    }

		    @media screen and (max-width: 52.5em) {
		        right: 20px;
		        bottom: 20px;
		        margin: 0;
		        padding: 50px 0 0 50px !important;
		        width: 50px;
		        height: 50px;
		        border-radius: 50% !important;
		        font-size: 2em;

		        span {
		        	visibility: hidden;
		        }

		        &:after {
			    	position: absolute;
			    	top: 0;
			    	left: 0;
			    	width: 100%;
			    	height: 100%;
			    	content: "\27A1";
			    	text-align: center;
			    	font-size: 1em;
			    	line-height: 50px;
			    }
			}
		}

		button.form-submit, button.form-continue {
		    padding: 0.6em 1.5em;
		    border: 3px solid #232529;
		    border-radius: 40px;
		    font-weight: 700;
		    color: rgba(0,0,0,0.4);
		}

		
	
		.form-numbers {
			position: absolute;
		    top: 0;
		    right: 0;
		    overflow: hidden;
		    color: rgba(0,0,0,0.4);
		    margin: 40px;
		    width: 2em;
		    font-weight: 700;
		    font-size: 2em;
		    cursor: default;

		    .form-number-current {
				float: left;
		    }

		    & span {
		    	float: right;
			    width: 40%;
			    text-align: center;
		    }

		    &:after {
		    	position: absolute;
		    	width: 100%;
		    	text-align: center;
		    	content: '/';
		    	font-weight: 300;
		    	opacity: 0.4;
		    	left: 0;
		    }

		    @media screen and (max-width: 52.5em) {
		    	margin: 20px;
		    }
		}

		.form-progress {
			position: absolute;
		    top: 0;
		    width: 0%;
		    height: 0.5em;
		    background: #fffed8;
		    -webkit-transition: width 0.3s ease-in-out;
		    transition: width 0.3s ease-in-out;
		}
	}
}
